html{
    scroll-behavior: smooth;
}
#myBtn {
   
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(75, 131, 238,.9); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    transition: all 0.5s ease;
    background-color: #555; /* Add a dark-grey background on hover */
  }
  .zoom:hover {
    transition: all .4s ease-in-out;
   transform: scale(1.1);
  }
  .zoom_name:hover {
    color: rgb(75, 131, 238);
    transition: all .4s ease-in-out;
   transform: scale(1.05);
   text-shadow: #545 0px 0px 10px;
  }
  .name_blue{
    color: rgb(75, 131, 238);

  }
  #footers{
    z-index: 999;
  }
  .head_pic{
    border-radius: 35%;
  }
  .topbutt{
    box-shadow: 0px 0px 20px #545;
  }
  /* #resbutt{
    
  } */